.navbar,
.navbar-default {
    background-image: linear-gradient(to right,#121e3c 0,#3a5cac 100%) !important; /* override background image gradient w/ flat color */
}

.navbar-collapse {
    overflow: hidden;
}

.pageInactive {
    outline: none;
    color: #929db8;
    margin-right: 10px;
}
.pageInactive:hover {
    color: white;
    text-decoration: none;
}

.pageActive {
    color: white;
}

.bookmarkPos {
    margin-right: 10px;
}

.switchTag {
    color: white;
    font-size: medium;
    margin-bottom: 0px;
}

.switchPos {
    margin-bottom: -10px;
}

.shareModal {
    justify-content: center;
    padding: 0;
}


.loaderPos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
