.header {
  text-align: center;
}

.toast {
  margin: 0 auto;
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to right,#121e3c 0,#3a5cac 100%) !important; /* override background image gradient w/ flat color */
}

.navbar-collapse {
  overflow: hidden;
}