.navbar,
.navbar-default {
    background-image: linear-gradient(to right,#121e3c 0,#3a5cac 100%) !important; /* override background image gradient w/ flat color */
}

.navbar-collapse {
    overflow: hidden;
}

.bookmarkPos {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.switchTag {
    color: white;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 10px;
}

.switchPos {
    margin-top: 5px;
    margin-bottom: -5px;
}

.shareModal {
    justify-content: center;
    padding: 0;
}


#loader {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#loader p {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.outerCircle {
    position: relative;
    background: #637eda;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.innerCircle {
    position: absolute;
    background: #2d4eca;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: loaderMove 1s infinite;
}
@keyframes loaderMove {
    from {width: 1px; height: 1px;}
    to {width: 20px; height: 20px;}
}
