.worldTag, .politicsTag, .businessTag, .technologyTag, .sportsTag, .healthTag, .guardianTag, .nytimesTag {
    text-align: center;
    padding: 1px 2px;
    margin: 2px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    float: right;
    
}
.worldTag {color: white; background-color: #7c4eff;}
.politicsTag {color: white; background-color: #419488;}
.businessTag {color: white; background-color: #4696ec;}
.technologyTag {color: black; background-color: #cedc39;}
.sportsTag {color: black; background-color: #f6c244;}
.healthTag {color: white; background-color: #6e757c;}
.guardianTag {color: white; background-color: #14284a;}
.nytimesTag {color: black; background-color: #dddddd;}