.medianCard {
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    padding: 15px;
    height: auto;
}

.medianCard img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border: 1px double #ddd;
    border-radius: 4px;
    padding: 3px;
}

.medianCardContent {
    position: relative;
}

.medianCardDeds {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5em;
    max-height: 6em;
    white-space: nowrap;
}
.medianCardDes {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.5em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }