.smallCard {
    cursor: pointer;
    padding: 10px;
    margin: 15px;
    height: auto;
}

.smallCard img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border: 1px double #ddd;
    border-radius: 4px;
    padding: 3px;
    margin: 15px 0;
}

.smallCardContent {
    position: relative;

}
