.bigCard {
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    height: auto;
}

.bigCard img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border: 1px double #ddd;
    border-radius: 4px;
    padding: 3px;
}

.bigCardContent {
    position: relative;
}

.bigCardDes {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.5em;
}

.expandPos {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.Toastify__toast--default {
    background: #fff;
    color: black;
}
